<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <script src="https://cdn.tiny.cloud/1/7p2boifw3y0tclhuoxbensuyrwfwpb494luov6g47a8hzqh8/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <h1>Edit Post</h1>
    <form method="POST" enctype="multipart/form-data" id="post-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ post.title }}" required><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="{{ post.date }}" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{ post.description }}</textarea><br>

        <label for="filename">Filename:</label>
        <input type="text" id="filename" name="filename" value="{{ post.filename }}" required><br>

        <label for="folder">Folder:</label>
        <input type="text" id="folder" name="folder" value="{{ post.folder }}" required><br>

        <label for="content">Content:</label>
        <div id="content-editor">
            <div id="content">
                {% for item in post.media %}
                    {% if item.type == 'text' %}
                        <p>{{ item.content | safe }}</p>
                    {% elif item.type == 'image' %}
                        <div class="image-container">
                            <img src="../{{ item.thumbnail }}" alt="{{ item.caption }}" />
                            <br /><input type="text" id="caption" name="caption" value="{{ item.caption }}" >
                        </div>
                    {% elif item.type == 'video' %}
                        <div class="video-container">
                            <video src="{{ item.fullsize }}" alt="{{ item.caption }}" controls></video>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="image-upload" class="dropzone">
                <p>Drag and drop images here, or click to select files</p>
                <input type="file" id="file-input" name="files" multiple accept="image/*" style="display: none;">
            </div>
        </div>

        <input type="submit" value="Update Post">
    </form>

    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
</html>